body {
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  color: $white-color;
  background-image: url("../../images/bg-xs.png");
  background-size: cover;

  @include onTablet {
    background-image: url("../../images/bg-cover.jpg");
  }
}

.section {
  padding: 0;

  @include onTablet {
    position: relative;
    height: 100vh;
  }
}

.singupform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 100%;
  padding: 0 24px;

  @include onTablet {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 300;
    width: 630px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    @include onTablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-basis: 50%;
      align-items: flex-start;
      align-content: flex-start;
    }
  }

  &__accent-color {
    color: $accent-color;
  }

  &__link {
    color: $accent-color;
    text-decoration: underline;
    text-underline-offset: 6px;

    &:hover {
      color: $accent-color;
      text-decoration: none;
    }
  }

  &__header-text {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: $white-color;
    margin-bottom: 50px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__input {
    height: 56px;
    width: 100%;
    border: 1px solid $white-color;
    border-radius: 4px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: Rubik;
    font-size: 19px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: $secondary-color;
    transition: all $transition-time;

    @include onTablet {
      width: 300px;
    }

    &::placeholder {
      font-family: Rubik;
      font-size: 19px;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      color: $secondary-color;
    }

    &:hover {
      border: 1px solid $accent-color;
    }

    &:focus {
      border: 1px solid $accent-color;
    }
  }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      width: 100%;
      outline: none;
      border: 1px solid $accent-color;
      border-radius: 4px;
      font-family: Rubik;
      font-size: 19px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0em;
      color: $black-color;
      background-color: $accent-color;
      transition: all $transition-time;
      cursor: pointer;

    @include onTablet {
      width: 164px;
      margin-left: 20px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0);
      color: $accent-color;
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0);
      color: $accent-color;
    }
  }

  &__errors-hidden {
    visibility: hidden;
  }
}

.input-icon {
  padding-left: 40px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 10px center;

  &-username {
    background-image: url("../../images/icons/u_user.svg");
  }
}
